<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFP Admin - CMS Decisions</title>
</head>
<body>
    <h2>Hi, {{name}}</h2>
    <p>Click here to <a href="logout">Logout</a></p>
    <div class="link">Click here to<a href="add_decision">Add New Decision</a></div>
    <h2> All Decisions Available</h2>
    {% csrf_token%}
    {% for id, decision in comb_ls %}

    ID: {{id}}<br>Decision : <a href="show_decision/{{id}}">{{decision}}</a><br><br>

    {% endfor %}

</body>
</html>